@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #333;
}

/* Stylowanie paska przewijania */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* szerokość paska przewijania */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* kolor tła ścieżki paska przewijania */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #bbb; /* kolor paska przewijania */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* kolor paska przewijania przy najechaniu */
}