:root {
  --main_color: #cb2d3e;
  --webkit_gradient: -webkit-linear-gradient(to right, #cb2d3e, #ef473a);
  --main_gradient: linear-gradient(to right, #cb2d3e, #ef473a);
  --logo_source: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAArlBMVEX///8dHhzkCxgAAADjAADkAA/6+vr96+y4uLj3zM3oRkz97u+rq6r0pqkYGRc8PDvmFiXp6ej85uhOTk3mMTgZGhgNDgvy8vIABAA0NDMLDQmFhYRpaWmysrFXWFfjAAjnOD/udnvwh4t5enmbm5rGxsbW1tZfX14jJCIoKSfe3t7MzMydnp5mZ2aLi4v52Nn0rrHuZ2/rX2XnIS7ylprvgIX3wsToQUj40dLpVlv4lIiDAAADAklEQVR4nO3b6VLbMBhGYSt2TBYwxWlMNuKwhkApYS/3f2NNO+1MZ8oPEdD3Jprz/M+MD7LlRSJJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGyhPCh13cpuGlCx6J2enV8cigtdQP2iSgfD6fg82sI/maM0nVyrRtKg8LdqND/SXJVWhavGYr+laLQrdK5Ip4IL0rJwNY6XY/PL0bbQ9dPLi7gLV6fqYjfywtUwnppOOPaFzg0mlomKQje6MUyUFK5G0W5K1RS6ah57oUvHVieqqtAVR7EX9tOryAtd1bOZbXSFrjqLvbA/MnlEFRYa3TKUha5qRV9o8WgjLXTVdfSF09gLXXoQe+Eg/D1RXFjNg8814sL+IvhcIy50afBXDHVhFfybjbqwP4y9MPz9Ql8Y+tlUX/gt9sJqEn3hTeyFRY/CDxd+vsGo6m9O4dVR69Ptfp8vqo0pDCO/6I3iLkySg2kReWHS8hzE7S3MPa/E7S1M9v1O0y0unPgN4hYXnsZfOCh8VMrCrqe3fz0e7vsY2q3o/2dn9sVLdvvmzw8PPBln/aP82mz4yJa6Y/wY78I99ZGui8K/6jv1ka7Lt7D5oD7SdfkWNrK2+lDX5F1Y32/C/8aswbuw0Xwt1Qe7Fv/CRp093D0u258u8B/uHYWrYayzAALfh95VGASFH/YSfWEn+sL7OvbCkyz2wmX0hd3oC/OZeKoJ/+b5JB7E8IXP4sk0fOGt+DQ1+D5yrD1NDQqfoy9MHqSnqUXhnnQQLQpL6fuFyZdY6SCaFObK12Cbr+nK6dSmMBfeE41WRErdg43Vmo/uPDVb1ZK965sV5qq3KLuVye5Mk2i49lp2JG+KlqvLpWQUTdfPy44g0XaHQFdw5zfeA5GfZNa3fvNdHm3ri9F+H0t5nJnOqYqdOu1ObXiqSvYi5csXu8tRtNuqu5xlRpG6/WTtk5faIlK5Y6788TT7tVmiboYk3xP4/Hh899oJaLYJO1fznZC2dDcZAAAAAAAAAAAAAAAAAAAAAADYYD8BgMl5yw0LxwQAAAAASUVORK5CYII=');
  --background-color: #fff;
  --bot_message_color: #e4e4e4
}

.chatbot-box {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.6s ease, opacity 0.4s ease, display 0s 0.4s;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 40px;
  background-color: var(--background-color);
  max-width: 400px;
  min-width: 300px;
  max-height: 500px;
  width: 25%;
  height: 70vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 15px 6px #00000021;
  z-index: 10000000;
}

.chatbot-box.active {
  opacity: 1;
  transform: translateY(0);
  display: flex;
}

.chatbot-box-header {
  height: 10%;
  margin: 15px 10px 10px 15px;
  display: flex;
  align-items: center;
}

.chatbot-box-header-title {
  width: 100%;
  font-size: 0.8em;
  color: black;
}

.chatbot-box-header-logo {
  background-image: var(--logo_source);
  height: 100%;
  width: 20%;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chatbot-box-body {
  width: 100%;
  height: calc(80% - 60px);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.chatbot-box-msgbox {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-color: #333 transparent;
  scrollbar-width: thin;
}

.chatbot-box-msgbox>div {
  width: calc(100% - 20px);
  margin: 2.5% 10px;
  display: flex;
}

.message {
  width: 70%;
  padding: 15px;
  border-radius: 20px 20px 20px 0;
  font-size: 0.8em;
  background-color: var(--bot_message_color);
  color: #000;
}

.message.user {
  color: #fff;
  border-radius: 20px 20px 0 20px;
  background: var(--main_color);
  background: var(--webkit_gradient);
  background: var(--main_gradient);
  margin-left: 30%;
}

.chatbot-box-footer {
  height: 10%;
  margin: 15px 10px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background-color: var(--background-color);
  border-radius: 10px;
}

.chatbot-box-footer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatbot-box-footer-input {
  width: 100%;
  height: 10px;
  padding: 20px;
  background-color: #eee;
  border: none;
  color: #333;
  font-size: .7em;
  border-radius: 20px;
}

.button-wrapper {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chatbot-box-footer-send-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main_color);
  background: var(--webkit_gradient);
  background: var(--main_gradient)
}

.chatbot-toggle-btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 0;
  right: 0;
  z-index: 10000000;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.chatbot-toggle-btn.active {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.6s ease, opacity 0.4s ease;
}

.chatbot-btn {
  margin: 20px;
  border-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5em;
  background: var(--main_color);
  background: var(--webkit_gradient);
  background: var(--main_gradient);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbot-msg-date {
  text-align: right;
  font-size: 8px;
}

.chatbot-box-msgbox::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

.chatbot-box-msgbox::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}

.chatbot-box-msgbox::-webkit-scrollbar-track {
  background-color: transparent;
}

.chatbot-box-close-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.chatbot-box-close-btn button {
  background: transparent;
  color: #333;
  border: none;
  font-size: 2em;
  rotate: 45deg;
}

@media only screen and (max-width: 600px) and (max-device-width: 850px),
only screen and (orientation: landscape) and (max-device-width: 850px) {

  .chatbot-box {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100% !important;
    max-width: 100% !important;
    height: 100vh !important;
    max-height: 100% !important;
    min-height: auto;
    margin: 0;
  }

  .chatbot-box-header,
  .chatbot-box-footer {
    flex-shrink: 0;
  }

  .chatbot-box-body {
    height: 80%;
    flex-grow: 1;
    overflow-y: auto;
  }

  .chatbot-box-footer-input {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  .chatbot-box-msgbox>div {
    width: 95%;
    margin: 2.5%;
  }

  .chatbot-box-author {
    margin: 0;
  }

  .chatbot-box-footer-input:focus {
    font-size: 16px;
  }

  button.chatbot-box-footer-send-btn {
    width: 40px;
    height: 40px;
  }

  .chatbot-tooltip {
    text-align: left;
  }
}

.chatbot-box-footer-input:focus,
.chatbot-box-footer-input:hover {
  outline: 0px solid;
}

.chatbot-box-footer-send-btn:hover {
  outline: 0px solid #e2001a;
}

.chatbot-box-footer-send-btn:active {
  background-color: #ddd;
}

.chatbot-box-author {
  display: flex;
  color: #ccc;
  font-size: 8px;
  height: 10%;
  width: 95%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.bouncing-loader {
  display: flex;
  justify-content: left;
}

.bouncing-loader>div {
  width: 10px;
  height: 10px;
  margin: 2px 2px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-8px);
  }
}

.bouncing-loader>div:nth-child(2) {
  animation-delay: 0.3s;
}

.bouncing-loader>div:nth-child(3) {
  animation-delay: 0.4s;
}

.bot_link {
  color: #e2001a;
  font-weight: bold;
}

.chatbot-tooltip {
  display: none;
  width: 20%;
  font-size: 0.8em;
  position: fixed;
  text-align: right;
  bottom: 90px;
  right: 15px;
  padding: 5px 5px 0 5px;
  background-color: #e2001a;
  background: var(--main_gradient);
  z-index: 10000000;
  color: #fff;
}

.chatbot-tooltip.active {
  display: none;
}

.tooltip-close-div {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.tooltip-close-div button {
  rotate: 45deg;
  background-color: transparent;
  border: none;
  font-size: 1.3em;

}

.tooltip-message {
  padding: 5px 15px 20px 0;
}